/*
Theme Name: Libero Child
Theme URI: http://libero.mikado-themes.com/
Description: A child theme of Libero Theme
Author: Mikado Themes
Author URI: http://themeforest.net/user/mikado-themes
Version: 1.0.0
Template: libero
*/

.mkd-drop-down > ul > li:hover > .second,
.mkd-drop-down > ul > li:hover > .second.mkd-drop-down-start,
.mkd-drop-down > ul > li:focus-within > .second {
  display: block !important;
  visibility: visible !important;
  opacity: 1 !important;
  overflow: visible !important;
  height: auto !important;
  pointer-events: auto !important;
}

.mkd-drop-down > ul > li:hover > .second,
.mkd-drop-down > ul > li:focus-within > .second {
  top: 100% !important;
  z-index: 20 !important;
}

.mkd-drop-down > ul > li:hover > .second > .inner,
.mkd-drop-down > ul > li:focus-within > .second > .inner {
  overflow: visible !important;
}
