name: CD

on:
  push:
    branches:
      - dev

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: ${{ secrets.DOCKERHUB_USERNAME }}/oxecimm-site:latest

      - name: Deploy to server
        uses: appleboy/ssh-action@v1.0.3
        with:
          host: ${{ secrets.SSH_HOST }}
          username: ${{ secrets.SSH_USER }}
          password: ${{ secrets.SSH_PASSWORD }}
          script: |
            docker stop oxecimm-site || true
            docker rm oxecimm-site || true
            docker rmi oxecimm-site:latest || true
            docker pull ${{ secrets.DOCKERHUB_USERNAME }}/oxecimm-site:latest
            docker tag ${{ secrets.DOCKERHUB_USERNAME }}/oxecimm-site:latest oxecimm-site:latest
            docker run -itd --name oxecimm-site -p 80:666 oxecimm-site
